<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>房产管理</title>
<meta name="Keywords" content="" >
<meta name="Description" content="" >
<link href="../css/index.css" rel="stylesheet">
<link rel="stylesheet" href="../bootstrap-3.4.1-dist/css/bootstrap.css">
<style>
  .row {
           
           margin: 30px 0;
       }
</style>
</head>
<body>
<header>
  <div class="logo box">房产登记网站</div>
  <nav id="nav" class="box">
    <ul>
      <li><a href="index.html">网站首页</a></li>
      <li><a href="/registration.do">产权登记</a></li>
      <li><a href="/government.do">政务中心</a></li>
      <li><a href="/house.do">房产股</a></li>
      <li><a href="/archives.do">档案馆</a></li>
    </ul>
  </nav>
  <script src="../js/silder.js"></script>
</header>
<div class="container" style="width: 1000px;background-color: white;">
  <div class="row">
    <div class="alert alert-success" role="alert">提供房地产业务的前台接待和收件，提供业务咨询，对每宗业务进行初步的审查真实
      性和完整性等</div>
    <span style="color: darkgrey;">我的状态：</span>
    <span class="label label-default">未提交</span>
    <span class="label label-warning">待收件</span>
    <span class="label label-success">已收件</span>
  </div>
  <div class="row">
    <h2 style="color: darkgrey;">公告栏</h2>
    <hr/>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">公告一</h4>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">公告一</h4>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">公告一</h4>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">公告一</h4>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </div>
  </div>
  
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="../bootstrap-3.4.1-dist/js/bootstrap.js"></script>
</html>