<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap-3.4.1-dist/css/bootstrap.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>>
    <style>
       input {
           width: 200px;
           height: 30px;
           padding: 5px;
           outline-style: none ;
           font-size: 14px;
       }
       .row {
           
           margin: 30px 0;
       }
      
    </style>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                //请求方式
                type : "get",
                //请求的媒体类型
                contentType: "application/json;charset=UTF-8",
                //请求地址
                url : "http://localhost:8090/business",
                //请求成功
                success : function(result) {
                    for(let i=0;i<result.length;i++){
                        let aEle = $('<a>').append(result[i].bname);
                        let childEle = $('<li>').append(aEle);
                        $('#businessList').append(childEle);
                    }
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.status);
                    console.log(e.responseText);
                    alert("注册失败");
                }
            })
        })
    </script>

</head>
<body>
  <header>
    <div class="logo box" >房产登记网站</div>
    <nav id="nav" class="box">
      <ul>
          <li><a href="index.html">网站首页</a></li>
          <li><a href="/registration.do">产权登记</a></li>
          <li><a href="/government.do">政务中心</a></li>
          <li><a href="/house.do">房产股</a></li>
          <li><a href="/archives.do">档案馆</a></li>
      </ul>
    </nav>
<!--    <script src="../js/silder.js"></script>-->
  </header>
  <form action="">
    <div class="container" style="width: 700px;">
        <div class="" style="margin-bottom: 0;margin-top: 20px; color: darkgray;">
            业务类型选择
            <hr/>
        </div>
        <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">业务选择<span class="caret"></span></button>
                  <ul  class="dropdown-menu" id="businessList">
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="...">
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">登记类型<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">初始登记</a></li>
                    <li><a href="#">转移登记</a></li>
                    <li><a href="#">变更登记</a></li>
                    <li><a href="#">注销登记</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="...">
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">登记小类<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">商品房初始登记</a></li>
                    <li><a href="#">经济适用房初始登记</a></li>
                    <li><a href="#">城市房屋新建</a></li>
                    <li><a href="#">集体入地房屋新建</a></li>
                    <li><a href="#">集资建房</a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="...">
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="" style="margin-bottom: 0;margin-top: 20px; color: darkgray;">
            基本身份
            <hr/>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>姓名</span>
                <input type="text">
            </div>
            <div class="col-lg-6">
                <span>身份证号</span>
                <input type="text">
            </div>
        </div>
        <div class="" style="margin-bottom: 0;margin-top: 20px; color: darkgray;">
            材料类型
            <hr/>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>申请人身份证明</span>
                <input type="file">
            </div>
            <div class="col-lg-6">
                <span>建设用地使用权证明</span>
                <input type="file">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>建设工程符合规划的证明</span>
                <input type="file">
            </div>
            <div class="col-lg-6">
                <span>房屋已竣工的证明</span>
                <input type="file">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <span>房屋测绘报告</span>
                <input type="file">
            </div>
            <div class="col-lg-6">
                <span>其它材料</span>
                <input type="file">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
               <input type="submit" value="提交">
            </div>
            <div class="col-lg-6">
                <input type="reset" value="重置">
            </div>
          </div>
          
      </div>
  </form>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<script>
  $('.dropdown-menu li a').click(function(e){
    console.log($(this).text())
    $(this).parent().parent().parent().siblings('input').val($(this).text())
  })

</script>
</body>
</html>